<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
            <link href="__PUBLIC__/css/mine.css" type="text/css" rel="stylesheet">
                </head>

                <body>

                    <div class="div_head">

                    </div>
                    <div></div>
                    <h2>当位置:添加</h2>
                    <div style="font-size: 13px;margin: 10px 5px">
                        <form action="__SELF__/type_id/<?php echo I('get.type_id'); ?>" method="post" enctype="multipart/form-data">
                           <input type='hidden' name='type_id' value="<?php echo I('get.type_id'); ?>"/>
                            
                            <table border="1" width="100%" class="table_a">



                                <tr>
                                    <td>属性名称</td>
                                    <td><input type="text" name="attr_name" /></td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>






                                <tr>
                                    <td>属性类型</td>
                                    <td>唯一<input type="radio" name="attr_type" value="唯一" checked="checked"/>
                                        单选<input type="radio" name="attr_type" value="单选"/>

                                    </td>

                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>











                                <tr>
                                    <td>属性可选值</td>
                                    <td>
                                        <textarea name="attr_option_val" rows="6" cols="60"> </textarea>
                                    </td>



                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>





                            </table>

                            <input type="submit" value="确定"/>
                            <input type="reset" value="重置"/>
                        </form>
                    </div>
                </body>
                </html>