<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 商品库存 </title>
        <meta name="robots" content="noindex, nofollow">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
            <link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src='__PUBLIC__/Js/jquery-1.4.2.min.js'></script>
    </head>
    <body>
        <h1>
        
            <span class="action-span1"><a href="#">ECSHOP 商品库存</a></span>
            <span id="search_id" class="action-span1"> -  </span>

            <div style="clear:both"></div>

        </h1>

        <form method="post" action="__SELF__" name="listForm">
            <div class="list-div" id="listDiv">
                <table cellpadding="3" cellspacing="1">


                    <tr>
                        <?php foreach($attr_array  as $k=>$v):?>
                        <th><?php echo $v[0]['attr_name']?></th>
                        <?php endforeach;?>
                        <th>库存</th>
                        <th>操作</th>
                    </tr>
                    
                    <!---商品取出库存-->
                  
                    <?php foreach($goods_number as $k0=>$v0):?>
                    <tr>
                            <?php foreach($attr_array as $k=>$v):?>
                        <td>
                            <select name='goods_attr_id[<?php echo $k; ?>][]'>
                                <?php  foreach( $v as $kk=>$vv):
                                    if(strpos(','.$v0['goods_attr_id'].',',','.$vv['id'].',')!==false)
                                    $selected="selected='selected'";
                                    else
                                    $selected='';
                                ?>
                                <option <?php echo $selected; ?> value="<?php echo $vv['id']?>"><?php echo $vv['goods_attr_val']?></option>
                                <?php endforeach;?>
                            </select>
                            
                        </td>
                            <?php endforeach;?>
                            <td><input type='text' value="<?php echo $v0['goods_number']?>" name='goodsnumber[]'/></td>
                               <td><input type="button" value="+"/></td>
                    </tr>
                       <?php endforeach;?>
                <?php if(!$goods_number):?> 
                     <tr>
                            <?php foreach($attr_array as $k=>$v):?>
                        <td>
                            <select name='goods_attr_id[<?php echo $k; ?>][]'>
                                <?php  foreach( $v as $kk=>$vv):?>
                                <option value="<?php echo $vv['id']?>"><?php echo $vv['goods_attr_val']?></option>
                                <?php endforeach;?>
                            </select>
                            
                        </td>
                            <?php endforeach;?>
                            <td><input type='text' name='goodsnumber[]'/></td>
                               <td><input type="button" value="+"/></td>
                    </tr>
                     <?php endif;?>


	 <tr>	
                     
                        <td align="right" nowrap="true" colspan="13"></td>
                    </tr>
                </table>
            </div>
            <div><input type='submit' value='提交'/></div>

        </form>

 
    </body>
</html>
<script type='text/javascript'>
    $(':button').click(function(){
        var btn=$(this).val();
        var tr=$(this).parent().parent();
       if(btn=='+'){
          var newtr=tr.clone(true);
          newtr.find(':button').val('-');
          $("table").append(newtr);
        }else{
            tr.remove();
        }
    });
</script>
