<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__PUBLIC__/Styles/mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
          
        </div>
        <div></div>
		<h2>当位置:修改</h2>
        <div style="font-size: 13px;margin: 10px 5px">
            <form action="__SELF__" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="<?php echo $admin_info['id'];?>"/>
            <table border="1" width="100%" class="table_a">
               
					
					                <tr>
                    <td>商品名称</td>
                    <td><input type="text" name="goods_name" value="<?php echo $admin_info['goods_name']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品原图片</td>
                    <td><input type="text" name="img" value="<?php echo $admin_info['img']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品小图</td>
                    <td><input type="text" name="small_img" value="<?php echo $admin_info['small_img']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品中图</td>
                    <td><input type="text" name="middle_img" value="<?php echo $admin_info['middle_img']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品大图</td>
                    <td><input type="text" name="big_img" value="<?php echo $admin_info['big_img']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品分类ID</td>
                    <td><input type="text" name="cat_id" value="<?php echo $admin_info['cat_id']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品品牌ID</td>
                    <td><input type="text" name="brand_id" value="<?php echo $admin_info['brand_id']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>本店价</td>
                    <td><input type="text" name="shop_price" value="<?php echo $admin_info['shop_price']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>市场价</td>
                    <td><input type="text" name="market_price" value="<?php echo $admin_info['market_price']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>是否上价</td>
                    <td><input type="text" name="is_on_sale" value="<?php echo $admin_info['is_on_sale']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品描述</td>
                    <td><input type="text" name="goods_desc" value="<?php echo $admin_info['goods_desc']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			
					                <tr>
                    <td>商品类型ID</td>
                    <td><input type="text" name="type_id" value="<?php echo $admin_info['type_id']; ?>"/></td>
				<td>
								<span class="require-field">*</span>
								</td>
                </tr>
				
				


				 
			            </table>

			 <input type="submit" value="修改">
            </form>
        </div>
    </body>
</html>