<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
            <link href="__PUBLIC__/css/mine.css" type="text/css" rel="stylesheet">
                </head>

                <body>

                    <div class="div_head">

                    </div>
                    <div></div>
                    <h2>当位置:添加</h2>
                    <div style="font-size: 13px;margin: 10px 5px">
                        <form action="__SELF__" method="post" enctype="multipart/form-data">
                            <table border="1" width="100%" class="table_a">








                                <tr>
                                    <td>名称</td>
                                    <td><input type="text" name="auth_name" /></td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>






                                <tr>	               
                                    <td>上级权限</td>
                                    <td>
                                        <select name="auth_pid">

                                            <option value="0">顶级权限</option>
                                            <?php foreach($data as $k=>$v):?>

                                            <option value="<?php echo $v['auth_id']; ?>"><?php echo str_repeat('-',($v['auth_level'])*4).$v['auth_name']; ?></option>

                                            <?php endforeach;?>
                                        </select>

                                    </td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>








                                <tr>
                                    <td>模块名</td>
                                    <td><input type="text" name="auth_m" /></td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>





                                <tr>
                                    <td>控制器</td>
                                    <td><input type="text" name="auth_c" /></td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>






                                <tr>
                                    <td>操作方法</td>
                                    <td><input type="text" name="auth_a" /></td>
                                    <td>
                                        <span class="require-field">*</span>
                                    </td>
                                </tr>









                            </table>

                            <input type="submit" value="添加">
                        </form>
                    </div>
                </body>
                </html>